@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    src: url('assets/fonts/manrope-extrabold.woff') format('woff');
}
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/manrope-medium.woff') format('woff');
}
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200;
    src: url('assets/fonts/manrope-thin.woff') format('woff');
}

@keyframes cursor {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

:root {
    --color-dark: #222831;
    --color-light: white;
    --bg-color: rgb(255, 93, 38);
    /* Each var is a RGB value for complex calcs */
    --text-color-R: 34;
    --text-color-G: 40;
    --text-color-B: 49;
    --text-color: rgb(
        var(--text-color-R),
        var(--text-color-G),
        var(--text-color-B)
    );
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid; */
    font-size: 100%;
    font: inherit;
}

body {
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
}

/* Fix mobile landscape font-size change issue */
@media only screen and (min-width : 320px) and (max-width : 670px) {
	body {
        -webkit-text-size-adjust: none;
    }
}

h1 {
    margin-bottom: .3em;
}

h2, p {
    margin-bottom: 1em;
    line-height: 2;
}

b {
    font-weight: 700;
}

em {
    font-style: italic;
}

/* Override a:-webkit-any-link */
a, a:visited, a:hover, a:active {
    color: inherit;
}

/* === utilities === */

.mg-y {
    margin: 2em 0;
}

/* === layouts === */

.navbar {
    background: var(--color-light);
    color: var(--color-dark);
}

.footer {
    background: var(--color-dark);
    color: var(--color-light);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2em 1.5em;
    font-family: 'Space Mono', monospace;
    text-align: center;
}


/* Questionable naming */
.container--head {
    margin: 0 1.5em;
}

.container {
    margin: 2em 1.5em;
}

.container--flexbox {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    font-family: 'Manrope', sans-serif;
}

/* === components === */

.navbar__menu a {
    margin: .3em;
    text-decoration: none;
}

.navbar__menu a:hover {
    text-decoration: underline;
}

.cli::before {
    font-family: 'Manrope', "Space Mono", sans-serif;
    font-weight: 800;
    content: '> ';
}

.cli::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 1rem;
    background: var(--text-color);
    margin-left: 5px;
    animation: cursor 1s infinite;
}

.icon-tray {
    display: flex;
}

.icon-tray a {
    font-size: 1.3em;
    margin-right: 1em;
}

/* Property on class selector in case HTML element not img */
.img {
    display: block;
}

.portrait--about {
    position: relative;
    top: 30px;
    z-index: -1;
    width: 70%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0.5em 2em rgba(7,29,63,0.4);
}

.card {
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: var(--color-light);
    color: var(--color-dark);
    overflow: hidden;
}

.card + .card {
    margin-top: 2em;
}

.card--article {
    padding: 1em 1.5em;
}

.card--showcase {

}

.showcase__img {
    background: grey;
    height: 140px;
}

.showcase__content {
    padding: 1em 1.5em;
}

.footer span + span {
    margin-top: .5em;
}

/* === texts === */

.logo {
    font-style: italic;
    text-decoration: none;
}

.logo:hover {
    color: var(--bg-color);
    transition: color .3s;
}

.title {
    font-family: 'Manrope', sans-serif;
    font-size: 3em;
    font-weight: 800;
}

.subtitle {
    font-family: 'Space Mono', monospace;
    font-size: 1.3em;
    font-weight: 400;
}



.heart {
    color: #f67280;
}

.text--shadow-inverse {
    --text-color-inverse: rgb(
        calc(255 - var(--text-color-R)),
        calc(255 - var(--text-color-G)),
        calc(255 - var(--text-color-B))
    );
    text-shadow: var(--text-color-inverse) 4px -4px;
}