@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    src: url('assets/fonts/manrope-extrabold.woff') format('woff');
}
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/manrope-medium.woff') format('woff');
}
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/manrope-regular.woff') format('woff');
}
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200;
    src: url('assets/fonts/manrope-thin.woff') format('woff');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid; */
    font-size: 100%;
    font: inherit;
}

body {
    background: #FF5D26;
    font-family: 'Manrope', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Override a:-webkit-any-link */
a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2em 1.5em;
    background: #FAFAFA;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    color: #121312;
}

.logo::before {
    font-family: 'Manrope', sans-serif;
    content: '> ';
    font-style: normal;
}

.logo {
    font-style: italic;
}

.navbar__menu a {
    padding: .3em;
}

.navbar__menu a:hover {
    text-decoration: underline;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding: 0 2em 0 2em;
}

.title {
    font-size: 3em;
    font-weight: 800;
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;
    background: #222831;
    padding: 1em;
    color: white;
    text-align: center;
}

.footer p+p {
    padding-top: .5em;
}

.footer a {
    text-decoration: underline;
}

.heart {
    color: #f67280;
}